* {
	margin: 0px;
	padding: 2px;
}

h1{
	color: black;
	border-bottom: 2px solid blue;
	text-align: center;
}

nav ul li {
	display: inline-block; 
	border-top: 0px;
	border-radius: 2px;
	position: top;
	text-decoration: none;
	background-color: gray;
}

section {
	column-count: 3;
	border :2px solid black;
	background-color: gray;
	color: black;

}

section article p {
	background-color: lightgray;
	border: 1px solid black;
	border-radius: 2px;
}

footer {
	background-color: blue;
	text-align: center;
}